<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/messages' %>
    <div>
      <p class="lead"><%= @user.username %></p>
    </div>
    <hr>
    <p>Time zone: <%= @user.time_zone %></p>
    <p>Time: <%= format_time(Time.current) %></p>
  </div>
</div>
