<%= render 'layouts/messages' %>

<% if @wins.size < 3 %>
  <h1><br></h1>
<% end %>

<ul class="list-group">
  <% if params[:history].present? %>
    <%= render partial: "archived_win", collection: @wins %>
  <% else %>
    <%= render @wins %>
  <% end %>
</ul>
