.win-title {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}

.navbar {
  margin-top: 15px;
  font-size: 24px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: white;
}

.btn-wide {
  padding-left: 25px;
  padding-right:  25px;
}

.full-width {
  width: 100%;
}

.input-super {
  height: 72px;
  padding: 10px 16px;
  font-size: 36px;
  line-height: 1.3333333;
  border-radius: 6px;
}

select.input-super {
  height: 72px;
  line-height: 72px;
}

.btn-super,
.btn-group-super > .btn {
  padding: 10px 16px;
  font-size: 36px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.win-icon {
  color: #D4D8D1;
}

.win-icon:hover{
  color: #337ab7;
}
